@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #daf5d8;
}

.login_container {
    text-align: right;
}

.login_container button {
    height: 30px;
    width: 150px;
    margin-top: 20px;
    margin-right: 50px;
    background-color: #7c8bff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
}

.login_container button:hover {
    background-color: #f06464;
}

.text_container {
    width: 100%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
    color: #21243d;
    padding: 50px 0 50px 0;
}

.text_container p {
    max-width: 600px;
    margin: 30px auto;
    font-size: larger;
}

.shortener_container {
    width: 100%;
    height: 120px;
    background-color: #daf5d8;
}

.input_container {
    max-width: 800px;
    height: 70px;
    margin: 15px auto;
    background-color: #f1d03b;
    border: none;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.input_container input {
    width: 80%;
    height: 35px;
    margin: auto;
    padding-left: 20px;
    color: #21243d;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

.input_container button {
    width: 80%;
    height: 35px;
    margin: auto;
    background-color: #7c8bff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.3s;
    font-family: 'Raleway', sans-serif;
}

.input_container button:hover {
    background-color: #f06464;
}

.link_container {
    max-width: 800px;
    height: 70px;
    margin: auto;
    padding-top: 30px;
}

.link_container .link {
    padding: 16px;
    border: #f1d03b 2px solid;
    border-radius: 5px;
    background-color: #daf5d8;
    display: flex;
    justify-content: center;
}

.link .short_link {
    padding-right: 50px;
    padding-top: 5px;
}

.link .copy_btn {
    width: 30px;
    background-color: #daf5d8;
    border: none;
    cursor: pointer;
}

.history_table {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: floralwhite;
}

.history_table thead {
    font-weight: bold;
}

.history_table td {
    padding: 8px 5px;
}

.history_table tbody td:nth-child(1) {
    text-align: left;
}