<header class="header-container">
    <div class="login_container" th:if="${authenticated}">
        <a th:href="@{/history}">
            <button>History</button>
        </a>
    </div>

    <div class="login_container" th:if="${authenticated}">
        <form th:action="@{/logout}" method="post">
            <button type="submit">Log out</button>
        </form>
    </div>

    <div class="login_container" th:if="${authenticated == null or !authenticated}">
        <a th:href="@{/login}">
            <button>Log in</button>
        </a>
    </div>
</header>