<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL_shortener</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">

    <div th:insert="~{header_fragment}"></div>

    <div class="text_container">
        <h1>URL Shortener</h1>
        <p>Paste your lengthy web address into here, and this URL shortening webpage transforms them into shorter, more
            convenient links for effortless sharing and tracking online.</p>
    </div>

    <form class="shortener_container" action="#" th:action="@{/shortUrl}" th:object="${urlRequest}" method="post">
        <div class="input_container">
            <input type="text" id="url" th:field="*{url}" placeholder="Paste your link here">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

            <button id="submit_btn">Shorten it</button>
        </div>
        <div class="errorMessage" th:if="${#fields.hasErrors('url')}" th:errors="*{url}"></div>
       <!-- <p class="errorMessage" th:text="${missingUrlError} != null ? ${missingUrlError}"></p>-->
        <p class="errorMessage" th:text="${maliciousError} != null ? ${maliciousError}"></p>
    </form>

    <div class="link_container">
        <div class="link">
            <span class="short_link" th:text="${longUrl}"></span>
            <button class="copy_btn">
                <svg xmlns="http://www.w3.org/2000/svg" fill="#f1d03b" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75"/>
                </svg>
            </button>
        </div>
    </div>

</div>
</body>
</html>