<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
    <div class="text_container">
        <h1>Reset Password</h1>
        <form action="/resetPassword" method="post">
            <div class="input_container">
                <input type="email" name="email" placeholder="Enter your email">
                <button type="submit">Reset Password</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>